<template>
  <div class="unauth__modal__login-text">
    <span class="login-form__title">{{ loginTitle }}</span
    ><br />
    <strong vcTooltip>{{ siteName }}</strong>
  </div>
</template>

<script>
export default {
  props: {
    loginTitle: {
      type: String,
      default: "",
    },
    siteName: {
      type: String,
      default: "",
    },
  },
};
</script>

<style>
.unauth__modal__login-text {
  font-size: 25px;
  padding-bottom: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center !important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.login-form__title {
  font-size: 1.375rem;
  color: #093a67;
}
</style>
